{% extends "base.html" %}

{% block content %}

<div class="form-container">

    <h2>Edit Room</h2>

    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}

    <form method="POST">

        <label>Room Number</label>

        <input type="text"
               name="number"
               value="{{ room['number'] }}"
               required>


        <label>Room Type</label>

        <input type="text"
               name="type"
               value="{{ room['type'] }}"
               required>


        <label>Price Per Night</label>

        <input type="number"
               name="price"
               value="{{ room['price'] }}"
               required>


        <label>Capacity</label>

        <input type="number"
               name="capacity"
               value="{{ room['capacity'] }}"
               min="1"
               required>


        <label>Description</label>

        <textarea name="description"
                  rows="5"
                  required>{{ room['description'] }}</textarea>


        <label>Image File Name</label>

        <input type="text"
               name="image"
               value="{{ room['image'] }}"
               required>


        <button type="submit">
            Update Room
        </button>

    </form>

</div>

{% endblock %}